<!DOCTYPE html>
<html lang="en" ng-app="GiphyApp">

<head>
    <meta charset="UTF-8">
    <title>Welcome to salie.bitbucket.io</title>

    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="/index.js"></script>

</head>

<body ng-controller="GiphyCtrl as giphyCtrl">
    <div class="container">
        <h1><code>Hello World!</code></h1>
        <form name="searchForm" novalidate ng-submit="giphyCtrl.search()">
            <div class="input-group">
                <input type="text" class="form-control" name="subject" id="subject" ng-model="giphyCtrl.subject">
                <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="giphyCtrl.search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>                Search</button>
                </span>
            </div>
            <img class="img-responsive img-thumbnail" ng-src="{{ giphyCtrl.image }}">
    </div>
</body>

</html>